@charset "UTF-8";
/* CSS Document */

.icon-container {
		display: inline;
    width:65px; 
    height: auto;
}

.navbar-padding {
	width: 10%;
}

p { display: inline; }

#navbar {
	background-color:black;
	color: white;
	height:65px;
	margin: 0;
	padding: 0;
}

#navbar ul {
	padding: 0;
	margin: 0;
}
	
#navbar li {
	list-style: none; 
	font-size: larger;
	font-family: 'Merriweather', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	float: left; 
	margin: 0; 
}

#navbar span {
  height: 65px;
  line-height: 65px;
}

#navbar a {
	display: block; 
	text-align:center;
  text-decoration: none;
	font-weight: bold; 
	color: white;
	height: 65px;
	
}

#navbar a:hover {
	background-color: #3e4142; 
	color: #FDFDFD; 
	border-color: #000 #CCC #CCC #000;
}	
     



