
    <nav>
  		<div id="navbar">
   			<ul>
   					<li><%= image_tag "calcalcicon.png", :class => "icon-container", alt: "Calorie Calculator Logo"%></li>
      			<li class="navbar-padding"><a href="/home"><span>Home</span></a></li>
      			<li class="navbar-padding"><a href="/users/new"><span>Calculate Calories</span></a></li>
      			<li class="navbar-padding"><a href="/users"><span>Users</span></a></li>
    		</ul>
  		</div>
		</nav>
