    <nav>
  		<div id="navbar">
   			<ul>
      		<li><a href="/home">Home</a></li>
      		<li><a href="/users/new">Calculate Calories</a></li>
      		<li><a href="/users">Users</a></li>
    		</ul>
  		</div>
		</nav>
