<h1>Home</h1>
<%= render "navbar" %>
	
	<div class="container">
		<h1 class="text-center">Calorie Calculator</h1>
		<h2>Objective</h2>
		<ul>
			<li>A simple calculator to calculate the number of calories to consume per day</li>
		</ul>
		
		<div class="text-center">
			<a href="/users/new"><button class="btn-secondary btn-lg">Get Started</button></a>
		</div>
	</div>
