<h1>Home</h1>
  <nav>
		<div id="navbar">
 			<ul>
    		<li><a href="/home">Home</a></li>
    		<li><a href="/users/new">Calculate Calories</a></li>
     		<li><a href="/users">Users</a></li>
   		</ul>
 		</div>
	</nav>
	
	<div class="container">
		<h1 class="text-center">Calorie Calculator</h1>
		<h2>Objective</h2>
		<ul>
			<li>A simple calculator to calculate the number of calories to consume per day</li>
		</ul>
	</div>
