<%= render "navbar" %>
	
	<div class="container">
		<h1 class="text-center">Calorie Calculator</h1>
		<h2>Objective</h2>
		<ul>
			<li>A simple calculator to calculate the number of calories to consume per day</li>
			<li>With the New Year right around the corner, one of peoples’ biggest resolutions is to lose weight. One of the best ways to lose weight is to eat right. My site helps people calculate their recommended calorie consumption so they can eat better. A sample diet based on their daily calorie consumption helps guide them in the right direction. But eating healthy is difficult. Rather than recommending a diet plan full of healthy foods, the sample plans contain Mcdonald’s menu items. Most people give up on their diets because they get tossed straight into the deep end and they quit because it’s too difficult. My site provides a middle ground of sufficient calorie intake, but tasty foods to eat.</li>
		</ul>
		
		<div class="text-center">
			<a href="/users/new"><button class="btn-secondary btn-lg">Get Started</button></a>
		</div>
	</div>
